@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --White: hsl(0, 0%, 100%);
    --Light_gray: hsl(212, 45%, 89%);
    --Grayish_blue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light_gray);
}
.card { 
    width: 20px;
    background-color: var(--White);
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.card img {
    width: 100%;
    border-radius: 15px ;
}
.card h1 { 
    color: var(--Dark_blue);
    font-size: 130%;
}
.card p {
    color: var(--Grayish_blue);
}
@media screen and (max-width:330px) {
    .card { 
        width: 250px;
        padding: 15px;
    }
}
